body {
    margin-left: 20%;
    /* margin-right: 20%; */
}
h1 {
    font-size: 100px;
    
}
h2 {
    font-size: 50px;
}
ol {
    font-size: 30px;
    margin-left: 10%;
    background: rgb(235, 231, 231);
    margin-right: 30%;
}
li {
    margin: 10px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: rgb(174, 181, 245);
}
