html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}
strong {
    display: block;
    color: #F26464;
    font-size: 36px;
    font-weight: 800;
  }
h1 {
    margin: 0;
    line-height: 1.5;
}
h2 {
    margin: 0;
}
h3 {
    
}
button {    
    display: inline-block;
    background-color:white; /* Green */
    border: 2px solid #F26464;
    border-radius: 60px;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 10px;
    /* margin-top: 20px; */
    /* min-width: 130px; */

    text-transform: uppercase;
}
button:hover {
    background-color: #F26464; /* Green */
    color: white;
}
button:active {
    color: black;
    background: yellow;
    transform: scale(0.75);
}
.greyButton button {
    color: rgb(24, 20, 20);
    border: 1px solid rgb(15, 12, 12) ;
    background: #ffffff;
    text-transform: none;
}
p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}