* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

body {
    background-color: aliceblue;
}

#nav {
    background-color: aliceblue;
    display: flex;
    padding: 0 20%;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid rgb(34, 39, 34);
    justify-content: space-between;        
    position: fixed;
    top: 0;
}
.nav-list {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-between;
}
.nav-logo {
    border-radius: 15px;
    height: 30px;
    max-width: 30px;
    object-fit: cover;

}

#imgNav {
    height: 100%;
    object-fit: cover;
}

.form-container {
    padding: 0 20%;
    margin-top: 120px;
    display: flex;
    min-height: 500px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column-container {
    display: block;
    max-height: 100%;
    max-width: auto;
    flex-wrap: wrap;
    /* justify-content: flex-start;
    align-items: center;  */
}

.avatar {
    max-width: 100%;
    width: 410px;
    height: auto;
    object-fit: cover;
}
ul {
    margin-top: 50px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
strong {
    display: block;
    color: #F26464;
    font-size: 36px;
    font-weight: 800;
}
.ds-numbervalulist {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    margin-top: 60px;
}
h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    border-bottom: #F26464 solid;
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 5px; /* Điều chỉnh giá trị padding-bottom */
    color: black;
    margin-top: 5px; /* Đặt giá trị margin-top cho .h2 */
    margin-bottom: 0; /* Đặt giá trị margin-bottom thành 0 */
}
p {

    color: #373737;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 60px;

}
button {    
    display: inline-block;
    background-color:white; /* Green */
    border: 2px solid #F26464;
    border-radius: 60px;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 10px;
    /* margin-top: 20px; */
    /* min-width: 130px; */

    text-transform: uppercase;
}
button:hover {
    background-color: #F26464; /* Green */
    color: white;
}
button:active {
    color: black;
    background: yellow;
    transform: scale(0.75);
}