* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    height: 100vh;
  }
  .flex-container {
    width: 800px;
    height: 400px;
    padding: 24px;
    border: solid 1px black;
    background-color: #f9e7c1;
    border-radius: 8px;
  }
  .flex-item {
    width: 150px;
    height: 150px;
    padding: 12px;
    border: solid 1px black;
    background-color: #c6e7fe;
    border-radius: 8px;
  }